
/*Body Elements*/

.panel {
  border: 0;
  border-color: transparent;
}


#fakemap {
  width: 450px;
  height: auto;
}

#metro-img {
  height: 150px;
  width: auto;
  position: absolute;
  left: 175px;
}

.jumbotron {
  background-color: white;
  line-height: 5px;
}

#colorme {
  background-color: gray;
}

#colorme label {
   color: white;
 }

/*Text Related Elements*/
